@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

$bodyfont: 'Poppins', sans-serif;
$headingfont: 'Poppins', sans-serif; 

@import '~@angular/material/theming';

/*Material Theme Colors*/

$bodytext: #ffffff;
$button: #57BD95;
$inverse: #fff;
$muted: #99abb4;
$dark: #263238;

